<div class="page">
  <h1 class="title">Hello <span class="wave">👋</span></h1>

  <div class="text">
    <p> if you love helping people , you have found the right place to be</p>
    <p>our team have developed a platform where organizations from around the world can inform individuals how they can
      subscribe to their cause</p>
  </div>
  <div class="row" style="display: flex">
    <div class="column">
      <img src="assets/ecology.svg" [width]="400" [height]="400">
      <div class="overlay">
        <div class="text_image">
          <h2>Organization</h2>
          They describe about their cause and the type of support that they offer
        </div>
      </div>
    </div>
    <div class="column">
      <img src="assets/heart.svg" [width]="400" [height]="400">
      <div class="overlay">
        <div class="text_image">
          <h2>Users</h2>
          They can attend at events organised by organization or support them by shopping
        </div>
      </div>
    </div>
  </div>
</div>
