.title {
  text-align: center;
  font-family: Cursive;
  font-size: 70px;
  }
.text {
  text-align: center;
  font-family: Cursive;
  font-size: 20px;
  margin: 0;
}
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
.text_image {
  font-family: Cursive;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 400px;
  height: 409px;
  opacity: 0;
  transition: .5s ease;
  background-color: darkcyan;
}
.column {
  position: relative;
  float: left;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}
.overlay:hover{
  opacity: 1;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
