<div class="page" *ngIf="loggedOrganisation">
  <h2 class="title">Welcome, {{this.organisation.lastName}} {{this.organisation.firstName}}</h2>
  <h1 class="subtitle"> {{loggedOrganisation?.description}}</h1>
  <h3 class="title">Here's what you can do!</h3>
  <div class="buttons-section">
    <dx-button
      class="button-info"
      text="View what your clients can see about you!"
      (onClick)="infoPopupVisible = true">
    </dx-button>
    <dx-button
      class="button-info"
      text="Edit your information"
      (onClick)="editInfoPopupVisible = true">
    </dx-button>
    <dx-button
      class="button-info"
      text="View your products"
      (onClick)="viewProducts()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Add new products"
      (onClick)="this.addProductsPopupVisible = true">
    </dx-button>
    <dx-button
      class="button-info"
      text="See your volunteering list"
      (onClick)="viewVolunteers()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Logout"
      (click)="logout()">
    </dx-button>
  </div>
</div>
<dx-popup
  [width]="500"
  [height]="400"
  [showTitle]="true"
  title="Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="infoPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <img [src]=loggedOrganisation.photo [width]="200">
    <p>
      Title:
      <span *ngIf="organisation">{{organisation.firstName}} {{organisation.lastName}}</span>
    </p>
    <p> Description:
      <span>{{loggedOrganisation.description}}</span>
    </p>
    <p>What you do:
      <span>{{loggedOrganisation.field}}</span>
    </p>
    <p>Since when you're active:
      <span>{{loggedOrganisation.year}}</span>
    </p>
  </div>
</dx-popup>
<dx-popup
  [width]="450"
  [height]="305"
  [showTitle]="true"
  title="Edit Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="editInfoPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="form">
      <div class="dx-fieldset">
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 80px">Title</div>
          <div class="dx-field-value">
            <dx-text-box value="{{loggedOrganisation.title}}" #newTitle></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 40px">Description</div>
          <div class="dx-field-value">
            <dx-text-box value="{{loggedOrganisation.description}}" #newDescription></dx-text-box>
          </div>
        </div>
      </div>
      <dx-button (onClick)="save(newTitle, newDescription)" stylingMode="contained" text="Save"
                 width="100" style="margin-left: 40%"></dx-button>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="1000"
  [height]="500"
  [showTitle]="true"
  title="Your products"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="productsPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div *ngFor="let product of products" class="product-container">
      <img [src]=product.photo [width]="200">
      <div class="product-info">
        <div class="product-title"> {{ product.title}}</div>
        <p class="text"> {{ product.description }} </p>
        <p class="text"> Category: {{ product.category }} </p>
        <p class="text"> {{ product.price }}$</p>
      </div>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="1000"
  [height]="500"
  [showTitle]="true"
  title="Volunteers"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="volunteersPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div *ngFor="let volunteer of volunteers" class="product-container">
      <span>
      <p>Full name: {{ volunteer.firstName}} {{volunteer.lastName}}</p>
      <p>Birthday: {{volunteer.birthday}}</p>
      <p>Phone number: {{volunteer.phone}}</p>
      <p>Email address: {{volunteer.email}}</p>
      <p>Descriprion: {{ volunteer.description}}</p>
        </span>
      <div class="popup-buttons">
        <dx-button class="button-info mr-15"> Accept volunteer</dx-button>
        <dx-button class="button-info" (onClick)="deleteVolunteer(volunteer)"> Delete volunteer</dx-button>
      </div>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="450"
  [height]="500"
  [showTitle]="true"
  title="Add a new product"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="addProductsPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="form">
      <div class="dx-fieldset">
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 40px">Title</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Title..." #newTitle></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 40px">Category</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Category..." #newCategory></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 20px">Price</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Price..." #newPrice>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 45px">Stock</div>
          <div class="dx-field-value">
            <dx-text-box placeholder=Stock..." #newStock></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup d-gr">
          <div class="dx-field-value">
            <dx-text-box placeholder="Tell your clients about your product..." height="100" width="310"
                         #newDescription></dx-text-box>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="file" accept="*.png.jpg" (change)="upload($event)">
        <button (click)="createRecord()">Upload image</button>
      </div>
      <dx-button (onClick)="saveProduct(newTitle, newCategory, newPrice, newStock, newDescription)"
                 stylingMode="contained" text="Save product" width="100" style="margin-left: 40%"></dx-button>
    </div>
  </div>
</dx-popup>
