<div class="page" *ngIf="loggedOrganisation">
  <h2 class="title">Welcome, {{this.organisation.lastName}} {{this.organisation.firstName}}</h2>
  <h1 class="subtitle"> {{loggedOrganisation?.description}}</h1>
  <h3 class="title">Here's what you can do!</h3>
  <div class="buttons-section">
    <dx-button
      class="button-info"
      text="View what your clients can see about you!"
      (onClick)="infoPopupVisible = true">
    </dx-button>
    <dx-button
      class="button-info"
      text="Edit your description"
      (onClick)="editInfoPopupVisible = true">
    </dx-button>
    <dx-button
      class="button-info"
      text="View your products"
      (onClick)="viewProducts()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Add new products"
      (onClick)="this.addProductsPopupVisible = true">
    </dx-button>
    <dx-button
      class="button-info"
      text="See your volunteering list"
      (onClick)="viewVolunteers()">
    </dx-button>
    <dx-button
      class="button-info"
      text="View orders"
      (click)="viewOrders()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Logout"
      (click)="logout()">
    </dx-button>
  </div>
</div>
<dx-popup
  [width]="500"
  [height]="400"
  [showTitle]="true"
  title="Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="infoPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <img [src]=loggedOrganisation.photo [width]="200">
    <p>
      Title:
      <span *ngIf="organisation">{{organisation.firstName}} {{organisation.lastName}}</span>
    </p>
    <p> Description:
      <span>{{loggedOrganisation.description}}</span>
    </p>
    <p>What you do:
      <span>{{loggedOrganisation.field}}</span>
    </p>
    <p>Since when you're active:
      <span>{{loggedOrganisation.year}}</span>
    </p>
  </div>
</dx-popup>
<dx-popup
  [width]="450"
  [height]="305"
  [showTitle]="true"
  title="Edit Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="editInfoPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="form">
      <div class="dx-fieldset">
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 40px">Description</div>
          <div class="dx-field-value">
            <dx-text-box value="{{loggedOrganisation.description}}" #newDescription></dx-text-box>
          </div>
        </div>
      </div>
      <dx-button (onClick)="save(newDescription)" stylingMode="contained" text="Save"
                 width="100" style="margin-left: 40%"></dx-button>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="1000"
  [height]="500"
  [showTitle]="true"
  title="Your products"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="productsPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div *ngFor="let product of products" class="product-container">
      <img [src]=product.photo [width]="200" class="mr-15">
      <div class="product-info">
        <div class="product-title large"> {{ product.title}}</div>
        <p class="text large"> {{ product.description }} </p>
        <p class="text large"> Category: {{ product.category }} </p>
        <p class="text large"> {{ product.price }}$</p>
      </div>
      <div class="buttons-section">
        <dx-button class="button-info" style="height: 50px;width: 200px" (onClick)="deleteProduct(product)"> Delete
          product
        </dx-button>
      </div>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="1000"
  [height]="500"
  [showTitle]="true"
  title="Volunteers"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="volunteersPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div *ngFor="let volunteer of volunteers" class="product-container">
      <span>
      <p class="large">Full name: {{ volunteer.firstName}} {{volunteer.lastName}}</p>
      <p class="large">Birthday: {{volunteer.birthday}}</p>
      <p class="large">Phone number: {{volunteer.phone}}</p>
      <p class="large">Email address: {{volunteer.email}}</p>
      <p class="large">Descriprion: {{ volunteer.description}}</p>
        </span>
      <div class="popup-buttons">
        <dx-button class="button-info" (onClick)="deleteVolunteer(volunteer)"> Delete volunteer</dx-button>
      </div>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="450"
  [height]="600"
  [showTitle]="true"
  title="Add a new product"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="addProductsPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="form">
      <div class="dx-fieldset">
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 40px">Title</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Title..." #newTitle></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup">Category</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Category..." #newCategory></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 35px">Price</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Price..." #newPrice>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 30px">Stock</div>
          <div class="dx-field-value">
            <dx-text-box placeholder="Stock..." #newStock>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup d-gr">
          <div class="dx-field-value">
            <dx-text-box placeholder="Tell your clients about your product..." height="100" width="310"
                         #newDescription></dx-text-box>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="file" accept="*.png.jpg" (change)="upload($event)">
        <dx-button (onClick)="createRecord()"
                   stylingMode="contained" text="Upload" width="100"></dx-button>
      </div>
      <dx-button (onClick)="saveProduct(newTitle, newCategory, newPrice, newStock, newDescription)"
                 stylingMode="contained" text="Save product" width="200" style="margin-left: 25%"></dx-button>
    </div>
  </div>
</dx-popup>

<dx-popup
  [width]="800"
  [height]="500"
  [showTitle]="true"
  title="Your Orders"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="viewOrdersPopup">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div *ngFor="let order of orders ; index as i" class="organisation-container">
        <div *ngFor="let product of order.products">
          <div *ngIf="product.sold_by === loggedOrganisation.title">
            <div class="organisation-info">
              <div class="organisation-title large"> {{i + 1}}. Total : {{ order.total}} $</div>
              <p class="large"> Ordered by: {{order.firstName}} {{order.lastName}}</p>
              <p class="large"> Client contact info: {{order.phone}} , {{order.email}}</p>
              <p class="large"> Shipment address: {{ order.address }} </p>
              <p class="large"> Products:</p>
              <p class="large">{{product.title}}</p>
              <img [src]=product.photo [width]="200">
            </div>
          </div>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
