.page{
  height: 1000px;
  flex: 1;
  background: azure;
  display: flow-root;
  padding-right: 20px;
}
.organisations-container{
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.organisation-container{
  padding: 28px;
  margin: 20px;
  margin-right: auto;
}
.title{
  color: darkcyan;
  font-size: large;
  font-family: Courier;
}
.dx-field-popup{
  display: flex;
  margin: 10px;
}
.dx-field-label-popup{
  color: black;
  text-align: start;
  font-size: small;
  padding-right: 10px;
}
.dx-popup-content{
  display: flex;
}
.dx-popup-content-text{
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-family: Courier;
  height: fit-content;
}
