/* You can add global styles to this file, and also import other style files */
.mt-35p{
  margin-top: 35% !important;
}
.ml-40p{
  margin-left: 40% !important ;
}
.m-auto{
  margin: auto !important;
}
.pr-17{
  padding-right: 17px !important;
}
.pr-20{
  padding-right: 20px !important;
}
.pr-40{
  padding-right: 40px !important;
}
.pr-53{
  padding-right: 53px !important;
}
.d-gr{
  display: grid !important;
}
.ml-15{
  margin-left: 15px;
}
.mr-15{
  margin-right: 15px;
}
.ml-0{
  margin-left: 0px !important;
}
.padd-l-50{
  padding-left: 50px;
}
.padd-l-30{
  padding-left: 30px;
}
.padd-l-70{
  padding-left: 70px;
}
.padd-l-80{
  padding-left: 80px;
}
