<div class="page" *ngIf="user">
  <h1 class="title">Welcome, {{user.firstName}} {{user.lastName}}</h1>
  <h3 class="subtitle">Here's what you can do!</h3>
  <div class="buttons-section">
    <dx-button
      class="button-info"
      text="Details"
      (onClick)="showInfo()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Edit"
      (onClick)="editInfo()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Organisations"
      (onClick)="viewOrg()">
    </dx-button>
    <dx-button
      class="button-info"
      text="View orders"
      (click)="viewOrders()">
    </dx-button>
    <dx-button
      class="button-info"
      text="Logout"
      (click)="onLogout()">
    </dx-button>
  </div>
</div>
<dx-popup
  [width]="300"
  [height]="250"
  [showTitle]="true"
  title="Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="InfopopupVisible">
  <div *dxTemplate="let data of 'content'">
    <p>
      Full Name:
      <span *ngIf="user">{{user.firstName}} {{user.lastName}}</span>
    </p>
    <p>
    <p>
      Email:
      <span *ngIf="user">{{user.emailAddress}}</span>
    </p>
    <p>
      Role:
      <span *ngIf="user">{{user.role}}</span>
    </p>
  </div>
</dx-popup>
<dx-popup
  [width]="450"
  [height]="400"
  [showTitle]="true"
  title="Edit Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="EditpopupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="form">
      <div class="dx-fieldset">
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 40px">Last Name</div>
          <div class="dx-field-value">
            <dx-text-box value="{{user.firstName}}" #newUserLastName></dx-text-box>
          </div>
        </div>
        <div class="dx-field-popup">
          <div class="dx-field-label-popup" style="padding-right: 20px">Email Address</div>
          <div class="dx-field-value">
            <dx-text-box value="{{user.emailAddress}}" #newUserEmail>
            </dx-text-box>
          </div>
        </div>
      </div>
      <dx-button (onClick)="save(newUserLastName, newUserEmail)" stylingMode="contained" text="Save"
                 width="100" style="margin-left: 40%"></dx-button>
    </div>
  </div>
</dx-popup>
<dx-popup
  [width]="1000"
  [height]="500"
  [showTitle]="true"
  title="Your Organisations where you applied"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="ViewOrgVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div *ngFor="let organisation of organisations" class="organisation-container">
        <img [src]=organisation.photo [width]="200" class="ml-30">
        <div class="organisation-info">
          <div class="organisation-title large mb-20"> {{ organisation.title}}</div>
          <p class="no-wrap large"> {{ organisation.description }} </p>
        </div>
        <div class="buttons-section">
          <dx-button class="button-info" style="height: 50px;width: 200px" (onClick)="deleteOrganisation(organisation)">
            Unsubscribe
          </dx-button>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
<dx-popup
  [width]="300"
  [height]="200"
  [showTitle]="true"
  title="No Organisation"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="failViewOrgVisible">
  <div *dxTemplate="let data of 'content'">
    <p style="font-size: medium">Please visit Organisations page to apply</p>
  </div>
</dx-popup>

<dx-popup
  [width]="500"
  [height]="500"
  [showTitle]="true"
  title="Your Orders"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="userOrdersPopup">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div *ngFor="let order of userOrders ; index as i" class="organisation-container">
        <div *ngFor="let product of order.products">
          <div class="organisation-info">
            <div class="organisation-title large"> {{i + 1}}. Total : {{ order.total}} $</div>
            <p class="large"> Shipment address: {{ order.address }} </p>
            <p class="large"> What you've ordered:</p>
            <p class="large">{{product.title}}</p>
            <img [src] = product.photo [width]="200">
            <p class="large">Sold by: {{product.sold_by}}</p>
          </div>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
