::ng-deep #container {
  padding: 10px;
}
::ng-deep #container ul {
  list-style-type: none;
  text-align: center;
}
::ng-deep #container ul li {
  display: inline-block;
  width: 160px;
  margin: 10px;
}
::ng-deep .button-info {
  margin: 10px;
}
::ng-deep .dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}
.text{
  padding: 10px;
  text-align: center;
  font-size: x-large;
  font-family: "Apple Chancery";
  color: white;
}
.form{
  margin: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.dx-field-label{
  color: white;
  text-align: start;
  font-size: large;
  font-family: Courier;
  padding-right: 0px;
  padding-left: 20px;
}
.dx-field-popup{
  display: flex;
  margin: 10px;
}
.dx-field-label-popup{
  color: black;
  text-align: start;
  font-size: small;
  padding-right: 10px;
}
